<script src="/js/picks.js"></script>
<h1>Player's Picks</h1>
<div id="accordion">
  <h3>Intro / Overview</h3>
  <div>
    <p>
    Welcome to the 2017 CFB Confidence Pool!<br><br>
    Every week of the CFB season you pick the winner of each game & give that pick a confidence score between 0 and the number of games in that week's list (0 = least confident). <br>
      <br>
      When your pick wins its game you get those confidence points. At the end of the week we total everyone's confidence points & the person with the most wins!<br>
      <br>
      The games are between schools from these confereces:</p>
      <ul>
        <li>ACC</li>
        <li>BigTen (except Rutgers)</li>
        <li>Big12</li>
        <li>Pac-12</li>
        <li>SEC</li>
        <li>Indi: BYU & Notre Dame</li>
    </ul>
   <p>Rutggers is excluded since they did not win any conference games in 2016. Games are on Thursdays & Saturdays but there's one on Monday 9/4. The # of games per week varies between 10 - 31.<br>Ex: week #1 has 10 games so if you pick them all correctly your perfect score would be 55 points. <br>
      <br>
      Here is a list of the total # of games and confidence points available:</p><br>
      <br>
    <ul>
      <li>Week 1: 10 games / 55 pts</li>
      <li>Week 2: 15 / 120</li>
      <li>Week 3: 15 / 120</li>
      <li>Week 4: 21 / 231</li>
      <li>Week 5: 23 / 276</li>
      <li>Week 6: 27 / 378</li>
      <li>Week 7: 29 / 435</li>
      <li>Week 8: 25 / 325</li>
      <li>Week 1: 29 / 435</li>
      <li>Week 10: 27 / 378</li>
      <li>Week 11: 29 / 435</li>
      <li>Week 12: 26 / 351</li>
      <li>Week 13: 31 / 496</li>
      <li>Week 14: 5 / 15</li>
      <li>Total: 312 / 4050</li>
    </ul><br>
    </p>If you have questions please send an email to:<br>example@example.com
    </p>
  </div>
  <h3>Your picks - Week #X</h3>
  <div>
    <p>
    There are X games & Y points available this week.</p><br>
    <p>~ejs~<br>
      the weekly games to pick, the pick , confidence<br>
      ~ejs~
    </p>
  </div>
  <h3>Total Picks - Week #X</h3>
  <div>
    <p>
      Available after everyon'e pics are in.</p><br>
    <%= allpicks.choice %>
  </div>
  <h3>Standings - thru Week#(X-1)</h3>
  <div>
    <p>
    ~ejs~<br>
      handle: ~theirCumeScore<br>
      handle: ~theirCumeScore<br>
      handle: ~theirCumeScore<br>
      ~ejs~
    </p>
  </div>
</div>
<a href="">Weekly Match Ups</a><br>
<a href="">Profile</a>

