<h1>Profile</h1>
<form action="" method="PUT">
  <label>First Name</label><br>
  <input name="firstName" placeholder="value.firstName"></input><br>
<label>Last Name</label><br>
  <input name="lastName" placeholder="value.lastName"></input><br>
  <label>Email</label><br>
  <input name="lastName" placeholder="value.email"></input><br>
    <label>Password</label><br>
  <input name="password" placeholder="value.password"></input><br>
    <label>Handle</label><br>
  <input name="handle" placeholder="value.handle"></input><br><br>
  <input type="submit" name="submit">
</form>
