h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    background-color: rgba(255, 255, 255, .8);
}

.container {
    padding: 3% 10%;
    margin: none;
}

.btn-warning {
    margin-bottom: 1rem;
}

.card-block {
    text-align: left;
}

#alerts {
    font-size: 1.5em;
}

#bgMaster {
    background-image: url(/images/bg3.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    background-size: cover;
}


/*#footer {
    padding: 5%;
    background-color: rgba(159, 160, 159, .5);
}
*/

.btn-info {
    margin-bottom: 1rem;
    display: inline-block;
}

label {
    font-size: 1.2rem;
    color: #000;
    /*    text-shadow: -1px 0 #000, 0 1px #000, 0 -1px #000;*/
}

.row {}

.picks-card {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.card-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
